.btn-login {
  display: inline-block !important;
  position: relative;
  color: #f26b38 !important;
  font-size: 18px;
  background: transparent;
  border: 1px solid #f26b38 !important;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s !important;
  height: 40px;
  margin: 12px 0;

  &::before {
    content: "";
    position: absolute;
    background: #f26b38;
    height: 150px;
    width: 200px;
    border-radius: 50%;
    z-index: -1;
    top: 100%;
    left: 100%;
    transition: 0.5s;
  }

  &:hover {
    color: #ffffff !important;
    &::before {
      top: -30px;
      left: -30px;
    }
  }
}
