.bgcustom {
  padding: 32px;
  min-height: 70vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background: rgba(0, 0, 0, 0.7)
    url(https://filmlifestyle.com/wp-content/uploads/2021/06/Movie-Genres-List.jpg);
  // opacity: 0.7;
  background-blend-mode: darken;
  // filter: brightness(50%);

  .main {
    max-width: 500px;
    padding-left: 24px;
    padding-right: 24px;
    width: 100%;
    display: block;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
  }

  .form {
    border-radius: 10px;
    background-color: #fff;
    margin: 32px 0px;
    display: flex;
    padding: 16px 0px;
    align-items: center;
    flex-direction: column;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 35%;
    left: 50%;
    width: 400px;

    .icon {
      margin: 8px;
      background-color: #f26b38;
      padding: 15px;
      border-radius: 50%;
      font-size: 30px;
      color: #fff;
    }

    .title {
      font-size: 40px;
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
      font-weight: 500;
      line-height: 1.167;
      letter-spacing: -0.01562em;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 30px;
    }

    .btncustom {
      margin-top: 30px;
      width: 100%;
      display: inherit;
      align-items: inherit;
      justify-content: inherit;
      background: #f26b38 !important;
      border-color: #fff !important;

      &:hover {
        background-color: rgba($color: #f26b38, $alpha: 0.8) !important;
        // border-color: rgba($color: #f26b38, $alpha: 0.8) !important;
      }
    }

    .connectlink {
      font-size: 16px;
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
      font-weight: 500;
      line-height: 1.167;
      letter-spacing: 0em;
      text-align: right;
      margin: 25px 0 0 0;
    }
  }
}
