.bgImg {
  background-image: url(https://a-static.besthdwallpaper.com/beautiful-mountain-nature-wallpaper-1600x900-80752_47.jpg);
  position: relative;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.bgCol4 {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  width: 100% !important;
  height: 100%;
  position: relative;

  img {
    width: 360px;
    height: 60% !important;
    object-fit: cover;
    border-radius: 10px;
  }
}

.filmTitle {
  margin: 10px 0 10px 0;
  text-align: center;
  text-transform: uppercase;
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}

.total {
  color: #f26b38;
  margin-top: 10px;
  font-style: italic;
}

.selectChair {
  color: #28a745;
  margin: 10px 0 10px 0;
  font-style: italic;
}

.chair-type-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chair-list {
  width: 100%;
  display: block;
  text-wrap: nowrap;
  overflow: hidden;

  .chair {
    width: 50px;
    height: 50px;
    padding: 0;
  }
}

@media screen and (max-width: 1677px) {
  .chair-list {
    padding-bottom: 15px;
    overflow-x: auto;
  }
}

@media screen and (max-width: 1350px) {
  .chair-list {
    .chair {
      width: 45px;
      height: 45px;
      padding: 0;
      font-size: 14px;
    }
  }
}

@media screen and (max-width: 1000px) {
  .chair-list {
    .chair {
      width: 35px;
      height: 35px;
      padding: 0;
      font-size: 14px;
    }
  }

  .bgCol4 {
    img {
      height: 150px;
    }
  }

  .chair-type-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    .chair-type {
      font-size: 14px;
    }
  }
}
