.bgImg {
  background-image: url(https://a-static.besthdwallpaper.com/beautiful-mountain-nature-wallpaper-1600x900-80752_47.jpg);
  position: relative;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.bgCol4 {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  width: 100% !important;
  height: auto;
  position: relative;

  img {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    border-radius: 10px;
  }

  .booking {
    width: 100%;
  }
}

.filmTitle {
  margin: 10px 0 10px 0;
  text-align: center;
  text-transform: uppercase;
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}

.total {
  color: #f26b38;
  margin-top: 10px;
  font-style: italic;
}

.selectChair {
  color: #28a745;
  margin: 10px 0 10px 0;
  font-style: italic;
}

.chair-type-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chair-list {
  width: 100%;
  display: block;
  text-wrap: nowrap;
  overflow: hidden;

  .chair {
    width: 50px;
    height: 50px;
    padding: 0;
  }
}

@media screen and (max-width: 1199px) {
  .chair-list {
    padding-bottom: 15px;
    overflow-x: auto;
  }

  .chair-list {
    .chair {
      width: 50px;
      height: 50px;
      padding: 0;
      font-size: 14px;
    }
  }

  .bgCol4 {
    .booking-info {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      margin-bottom: 10px;
    }

    img {
      width: 100px;
      max-width: 100px;
      height: 100px;
      margin-right: 20px;
    }

    .booking-right {
      .filmTitle {
        margin-top: 0;
        text-align: left;
      }
    }
  }

  .chair-type {
    font-size: 14px;
  }
}

@media screen and (max-width: 767px) {
  .chair-list {
    .chair {
      width: 35px;
      height: 35px;
      padding: 0;
      font-size: 14px;
    }
  }
}

@media screen and (max-width: 575px) {
  .chair-type-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .chair-list {
    .chair {
      width: 30px;
      height: 30px;
      padding: 0;
      font-size: 12px;
    }
  }
}
