.button-primary {
  background-color: #f26b38 !important;
  color: #fff !important;
  transition: all 0.5s;

  &:hover {
    background-color: #f26a38ae !important;
  }
}

.bgImg {
  background-image: url(https://a-static.besthdwallpaper.com/beautiful-mountain-nature-wallpaper-1600x900-80752_47.jpg);
  position: relative;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
