.cumrap {
  background-color: #fff;
  margin-top: 12px;
  text-align: center;
  color: #f26b38;
}

.nav-pills {
  .nav-link {
    &.active {
      color: #fff;
      background-color: #f26b38 !important;
    }

    &:hover {
      text-decoration: underline;
      color: #bc532d;
      transition: all 0.5s;
    }
  }
}

.showtime-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  .showtime {
    background-color: #fff;
    border-radius: 5px;
    width: auto;
    height: auto;
    padding: 8px 10px;
    display: flex;
    align-items: center;
    margin: 12px 12px 0 0;
    .datetime {
      color: #f26b38;
      &:hover {
        color: #bc532d;
      }
    }
  }
}
