* {
  box-sizing: border-box;
}
.carosel {
  overflow: hidden;
  max-height: 90vh;
  & img {
    width: 100%;
    height: 100%;
  }
}

.w-65 {
  width: 65%;
}

.button-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.item {
  padding: 12px;
}

.card-title {
  font-size: 20px !important;
  text-align: center !important;
}

.buttonDetail {
  background-color: #f26b38 !important;
  color: white !important;
}

.buttonDetail:hover {
  opacity: 0.8;
}

.titleFilm {
  color: #000;
  height: 45px;
  display: -webkit-box;
  opacity: 1;
  overflow: hidden;
  font-size: 18px;
  max-height: 45px;
  visibility: visible;
  font-weight: 500;
  line-height: 22px;
  text-overflow: ellipsis;
}

.descriptionFilm {
  color: #757575;
  margin: 0px 0px 16px 0px;
  display: -webkit-box;
  opacity: 1;
  overflow: hidden;
  visibility: visible;
  text-overflow: ellipsis;
}

.lichChieu {
  height: 720px;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  max-height: 720px;
  margin-bottom: 40px;
  background-color: #fff;
  max-width: 960px;
  padding-left: 24px;
  padding-right: 24px;
  width: 100%;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

.tabVertical {
  width: 90px;
  position: relative;
  flex-direction: column;
  display: flex;
  overflow: hidden;
  min-height: 48px;
}

.multitabsScroller {
  flex: 1 1 auto;
  display: inline-block;
  position: relative;
}

.multitabsFix {
  width: 100%;
}

.flexContainer {
  display: flex;
  flex-direction: column;
}

.borderbutton {
  border-bottom: 1px solid rgba(128, 128, 128, 0.3);
  border-right: 1px solid rgba(128, 128, 128, 0.3); 
  height: 90px;
}
.borderbutton:hover{
  background-color: #f26b38;
}

.buttonLogo {
  // padding: 20px;
  min-width: unset;
  padding: 6px 20px 12px 20px;
  overflow: hidden;
  position: relative;
  font-size: 0.875rem;
  max-width: 264px;
  min-width: 72px;
  box-sizing: border-box;
  min-height: 48px;
  text-align: center;
  flex-shrink: 0;
  font-weight: 500;
  line-height: 1.75;
  white-space: normal;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  margin: 11px 0 12px 0;
  border: none;
  //   border-bottom: 1px solid rgba(128, 128, 128, 0.3);
  align-items: center;
  vertical-align: middle;
  justify-content: center;
  background-color: transparent;
  &:focus {
    outline: none;
  }
}

.multiWrapper {
  width: 100%;
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.wrapperContent {
  width: 50px;
  height: 50px;
  display: flex;
  overflow: hidden;
  position: relative;
  font-size: 1.25rem;
  align-items: center;
  flex-shrink: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1;
  user-select: none;
  border-radius: 50%;
  justify-content: center;
}

.logo {
  color: transparent;
  width: 100%;
  height: 100%;
  object-fit: cover;
  text-align: center;
  text-indent: 10000px;
}

.activeSpan {
  right: 0;
  width: 2px;
  background-color: #00ac4d;
  bottom: 0;
  position: absolute;
}

.verticalTabpanel {
  width: 300px;
  border-right: 1px solid rgba(128, 128, 128, 0.3);
}

.multitabVertical {
  display: flex;
  overflow: hidden;
  min-height: 48px;
  flex-direction: column;
  border: none;
}

.multiContainer {
  height: 720px;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  max-height: 720px;
  margin-bottom: 40px;
  background-color: #fff;
  max-width: 960px;
  padding-left: 24px;
  padding-right: 24px;
}

.buttonCustom {
  width: 300px;
  height: 90px;
  padding: 20px 15px 15px 20px;
  position: relative;
  text-align: left;
  overflow: hidden;
  font-size: 0.875rem;
  max-width: 350px;
  box-sizing: border-box;
  min-height: 48px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.75;
  white-space: normal;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  background-color: #fff;
  border: none;
  border-left: 1px solid rgba(128, 128, 128, 0.3);
  border-bottom: 1px solid rgba(128, 128, 128, 0.3);
  &:focus {
    outline: none;
  }
}
.buttonCustom:hover{
  background-color: #f26b38;
}

.multitabWrapper {
  display: unset;
  width: 100%;
}

.htrtitle {
  color: #108f3e;
  overflow: hidden;
  font-weight: 500;
  // line-height: 1.4;
  text-overflow: ellipsis;
  font-size: 13px;
}

.address {
  color: #000;
  overflow: hidden;
  font-weight: 400;
  text-overflow: ellipsis;
  font-size: 10px;
}

.btnChiTiet {
  color: #fb4226;
  font-size: 12px;
  display: flex;
  align-items: center;
  &:hover {
    color: #fb4226;
    text-decoration: none;
  }
}

.muiContainer {
  height: 720px;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  max-height: 720px;
  margin-bottom: 40px;
  background-color: #fff;
  max-width: 960px;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  margin: 0 auto;
  border: 1px solid rgba(128, 128, 128, 0.3);
}

.movie-list {
  overflow-y: scroll;
  .movie-item {
    padding: 20px;
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
  }

  .movie-info {
    padding: 0 15px;

    .movie-datetime {
      .date {
        color: #f26b38;
        font-weight: 500;
        font-size: 18px;
        margin-bottom: 5px;
      }
      .movie-time {
        // box-sizing: border-box;
        // padding: 10px;
        display: flex;
        justify-content: start;
        align-items: center;
        flex-wrap: wrap;
        gap: 8px;

        p {
          padding: 5px;
          border: 1px solid rgba(128, 128, 128, 0.3);
          border-radius: 3px;
          margin-bottom: 0;
        }

        .active {
          text-align: center;
          background: #f26b38;
          color: white;
          font-size: 12px;
          width: 170px;
          cursor: pointer;
        }
      }
    }
  }
}
