.carosel {
  overflow: hidden;
  max-height: 90vh;
  & img {
    width: 100%;
    height: 100%;
  }
}

.w-65 {
  width: 65%;
}

.button-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
